astropy>=4.3.1
astroquery
cmasher>=1.6.3
drms>=0.6.2
git+https://github.com/jgieseler/psp-isois-loader
git+https://github.com/jgieseler/soho-loader
git+https://github.com/jgieseler/solo-mag-loader
git+https://github.com/jgieseler/stereo-loader
git+https://github.com/jgieseler/wind-3dp-loader
ipympl
ipywidgets
jupyter
matplotlib>=3.4.3
matplotlib-inline==0.1.3
numpy>=1.20.3
pandas>=1.3.4
pfsspy
PyThea==0.7.0
solarmach>=0.1.3
solo_epd_loader>=0.1.10
sunpy>=4.0.4
sunpy_soar
zeep>=4.1.0
